---
import "./src/styles/global.css";
interface Props {
	pageTitle: string;
}
const { pageTitle } = Astro.props;

---
<!doctype html>
<html lang="en" x-data="{menuOpen: false}">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<button aria-controls="menuOpen" :aria-expanded="menuOpen" @click="menuOpen = !menuOpen" >Menu</button>
		<nav :aria-hidden="!menuOpen" x-show="!menuOpen">
			<a href="/">Home</a>
			<a href="/personne">Liste des personnes</a>
			<a href="/films">Liste des films</a>
		</nav>
		<slot/>
	</body>
</html>